adafruit-pca9685
fire
flake8
flake8-docstrings
flake8-isort
flake8-quotes
Flask
Flask-Cors
Flask-Dance
ipython
jupyter
marshmallow
msgpack-numpy
numpy==1.13.3
pigpio
pillow
prompt-toolkit
psutil
pytest
pytest-cov
pylint
RPIO
